<app-navbar></app-navbar>
<div class="bg-[#F8F9F9] px-[1rem]">
  <div class="container mx-auto">
    <div class="h-[300px] flex items-center justify-center">
      <p class="text-[48px] text-[#2D2D2D] text-center">
        Explore <span class="font-bold">vendors </span> <br />
        you may like
      </p>
    </div>
    <div class="grid sm:grid-cols-3 md:grid-cols-4 gap-[1.5rem]">
      <div
        *ngFor="let item of vendors"
        class="cursor-pointer"
        routerLink="{{ item.id }}"
      >
        <div class="drop-shadow-sm rounded-[10px]">
          <img
            src="/assets/images/vendor-1.png"
            class="rounded-t-[8px] w-[100%]"
            alt="vendor's sample"
          />
          <div class="bg-[#fff] p-[1rem]">
            <p class="font-semibold text-[#2D2D2D] text-[14px]">
              {{ item.name }}
            </p>
            <hr class="h-px my-[.5rem] bg-[#55565A1F] border-0" />
            <div class="flex items-center justify-between py-[.3rem]">
              <p class="text-[9px] font-medium text-[#2D2D2D66]">
                Delivery fee: {{ item.fee }}
              </p>
              <button
                class="font-semibold text-[9px] flex items-center gap-[.3rem] rounded-[14px] bg-[#F8F9F9] px-[1rem] py-[.4rem] border-[1px] border-[#55565A1F]"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="12"
                  viewBox="0 0 13 12"
                  fill="none"
                >
                  <g clip-path="url(#clip0_166_12575)">
                    <ellipse
                      cx="6.44562"
                      cy="5.32257"
                      rx="1.42413"
                      ry="1.42413"
                      stroke="#2D2D2D"
                      stroke-opacity="0.4"
                      stroke-width="0.854479"
                    />
                    <path
                      d="M10.7176 5.26946C10.7176 7.59991 8.0474 10.544 6.44525 10.544C4.8431 10.544 2.17285 7.59991 2.17285 5.26946C2.17285 2.93901 4.08567 1.0498 6.44525 1.0498C8.80483 1.0498 10.7176 2.93901 10.7176 5.26946Z"
                      stroke="#2D2D2D"
                      stroke-opacity="0.4"
                      stroke-width="0.854479"
                    />
                  </g>
                  <defs>
                    <clipPath id="clip0_166_12575">
                      <rect
                        width="11.3931"
                        height="11.3931"
                        fill="white"
                        transform="translate(0.749023 0.100586)"
                      />
                    </clipPath>
                  </defs>
                </svg>
                <span> {{ item.location }} </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center h-[200px]">
      <button
        class="bg-primary w-[100%] sm:w-[300px] py-[.5rem] rounded-[9px] text-[#fff] text-[18px] font-medium h-[53px]"
      >
        Explore Vendors around you
      </button>
    </div>
  </div>
</div>
<div class="bg-[#e7e1bd] py-[5rem] px-[1rem]">
  <div class="container mx-auto">
    <div class="grid sm:grid-cols-2 gap-[2rem] items-center">
      <div class="lg:w-[77%]">
        <h1 class="font-semibold text-[48px] text-[#2D2D2D]">
          We pride ourselves with the Best rated hot meals.
        </h1>
        <p class="font-normal text-[14px] text-[#2D2D2D] my-[2rem]">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat.
        </p>
        <button
          class="bg-primary w-[100%] sm:w-[250px] py-[.5rem] h-[53px] rounded-[9px] text-[#fff] text-[18px] font-medium"
        >
          Order Now
        </button>
      </div>
      <div class="">
        <img src="/assets/images/meal-sample.png" alt="" />
      </div>
    </div>
  </div>
</div>
<app-contact></app-contact>
<app-footer></app-footer>
